.hide {
    position: fixed;
    top: -99999px;

    display: none !important;
}

.inactive {
    opacity: .3;
}

@mixin foremost {
    z-index: 9999;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
}

.round {
    border-radius: 9999999px;
}
