/* Classes which represent shortcuts of a bunch of styles. */

/* There are two types of classes. One is semantic class, like 'btn'. */
/* Another is style class, which describe styles, like 'big'. An easy way */
/* to distinguish these two is whether it makes sense if html support this */
/* class as tag. For example, < btn > < /btn> is meaningful but <big></big > */
/* is not. */

/* This file contains the second type of classes */

.hide {
    position: fixed;
    top: -99999px;

    display: none !important;
}

.inactive {
    opacity: .3;
}

.opaque {
    opacity: 1 !important;
}

.foremost {
    z-index: 9999 !important;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
}

.round {
    border-radius: 9999999px;
}
