@import '_color';
@import '_style';
@import 'nav';
@import 'gallery';
@import 'compose';


body {
    position: relative;
    margin: 0;
    background-color: $light-grey;
    background-size: auto 1000px;
}

ul {
    list-style: none;
}

figure {
    margin: 0;
}

a {
    color: $black;
    text-decoration: none;
    font-size: 20pt;
}

a:hover {
    opacity: 1;
}

img {
    max-width: 100%;
}

// template should always be invisible
// scss-lint:disable ImportantRule
[data-template] {
    display: none !important;
    width: 0;
    height: 0;
}
