@import 'nav.css';
@import 'gallery.css';

body {
    margin: 0;
    position: relative;
}

ul {
    list-style: none;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 20pt;
    opacity: 0.3;
}

a:hover {
    opacity: 1;
}

[data-template] {
    display: none !important;
    width: 0;
    height: 0;
}

.hide {
    display: none !important;
}
