#compose {
    position: relative; /* so it can be bring to foremost */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#compose textarea {
    resize: none;
    font-size: 18pt;
    padding: 35px 50px;
    border: 5px dashed transparent;
    opacity: 0.8;
    z-index: 2;
    box-sizing: border-box;
    height: 200px;
    line-height: 1.75;
    font-family: "Courier", sans-serif;
}

#compose textarea:focus {
    outline: none;
    opacity: 1;
    border-top: 5px solid #666;
}

#compose textarea[disabled] {
    color: #000;
}

#compose [data-tag=cover] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    overflow-y: scroll;
}

#compose [data-tag=compose-tools] {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    z-index: 2;
    width: 450px;
}

#compose [data-tag=compose-tools] > label {
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 3px solid #fff;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
