@import '_colors';

#compose {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    align-items: center;
    justify-content: center;

    textarea {
        z-index: 2;
        box-sizing: border-box;
        padding: 35px 50px;
        height: 200px;
        border: 0;
        border-top: 5px dashed transparent;
        font-size: 18pt;
        font-family: 'Courier', sans-serif;
        line-height: 1.75;
        opacity: .8;
        resize: none;

        &:focus {
            outline: none;
            border-top: 5px solid $dark-grey;
            opacity: 1;
        }

        &[disabled] {
            color: $black;
        }
    }

    [data-tag=cover] {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-y: scroll;
        background-color: $white;
        opacity: .7;

        align-items: flex-start;
        justify-content: center;
    }

    [data-tag=compose-tools] {
        z-index: 2;
        display: flex;
        margin-top: 50px;
        width: 450px;

        justify-content: space-around;

        > label {
            display: flex;
            width: 50px;
            height: 50px;
            border: 3px solid $white;
            color: $white;
            font-size: 24px;
            cursor: pointer;

            align-items: center;
            justify-content: center;
        }
    }
}
