@import '_colors';
@import '_mixin';

#compose > div {
    position: relative;

    display: flex;
    flex-direction: column;

    padding-top: 50px;

    align-items: center;
    justify-content: center;

    textarea {
        font-family: 'Courier', sans-serif;
        font-size: 18pt;
        line-height: 1.75;

        z-index: 2;

        box-sizing: border-box;
        height: 200px;
        padding: 35px 50px;

        resize: none;

        opacity: .8;
        border: 0;
        border-top: 5px dashed transparent;

        &:focus {
            opacity: 1;
            border-top: 5px solid $dark-grey;
            outline: none;
        }

        &[disabled] {
            color: $black;
        }
    }

    [data-tag=cover] {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        overflow-y: scroll;

        opacity: .7;
        background-color: $white;

        align-items: flex-start;
        justify-content: center;
    }

    [data-tag=compose-tools] {
        z-index: 2;

        display: flex;

        width: 450px;
        margin-top: 50px;

        justify-content: space-around;
    }

    [data-tag=compose-tools] label {
        @include round;

        font-size: 24px;

        display: flex;

        width: 50px;
        height: 50px;

        cursor: pointer;

        color: $white;
        border: 3px solid $white;

        align-items: center;
        justify-content: center;
    }

    [data-tag=compose-tools] input {
        @include hide;
    }
}

[data-tag=upload-cover] {
    background-color: $blue;
}

[data-tag=preview] {
    background-color: $green;
}

[data-tag=send] {
    background-color: $blue;
}

#compose.preview,
#compose.writing {
    @include foremost;
}

#compose.preview {
    [data-tag=cover] {
        opacity: 1;
    }
}
