@import '_colors';
@import '_mixin';

$editor-width: 700px;

#compose {
    > div {
        position: relative;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    textarea,
    .searchable-dropdown,
    .compose-tools,
    span {
        position: relative;
        z-index: 2;
    }

    .searchable-dropdown input {
        max-width: 150px;
        border-bottom: 2px dashed $dark-grey;
        background-color: transparent;
        box-sizing: border-box;
        padding: 0 5px;
    }

    textarea,
    .searchable-dropdown input,
    .misc span {
        font-family: 'Courier', sans-serif;
        font-size: 18pt;
    }

    .misc {
        display: flex;
        width: $editor-width;
        margin-top: 20px;
    }

    .misc span {
        margin-right: 10px;
        border-bottom: 2px solid transparent;
    }

    textarea {
        box-sizing: border-box;
        padding: 35px 50px;

        width: $editor-width;
        line-height: 1.75;

        resize: none;

        opacity: .8;
        border: 0;
        border-top: 5px dashed transparent;

        &:focus {
            opacity: 1;
            border-top: 5px solid $dark-grey;
            outline: none;
        }

        &[disabled] {
            color: $black;
        }
    }

    .cover {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        overflow-y: scroll;

        opacity: .7;
        background-color: $white;

        align-items: flex-start;
        justify-content: center;
    }

    .compose-tools {
        z-index: 2;

        display: flex;

        width: $editor-width;
        margin-bottom: 20px;

        justify-content: flex-end;
    }

    .compose-tools label {
        @include round;

        font-size: 24px;

        display: flex;

        width: 50px;
        height: 50px;
        margin-left: 25px;

        cursor: pointer;

        color: $white;
        border: 3px solid $white;

        align-items: center;
        justify-content: center;
    }

    .compose-tools input {
        @include hide;
    }

    .upload-cover {
        background-color: $blue;
    }

    .preview {
        background-color: $green;
    }

    .send {
        background-color: $blue;
    }
}

#compose > .preview,
#compose > .writing {
    @include foremost;
}

#compose > .preview {
    .cover {
        opacity: 1;
    }
}
