#gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#gallery ul.page {
    padding: 0;
    width: 90%;
    display: block;

    column-count: 4;
	column-gap: 0;
}

#gallery ul.page > li {
    padding: 3px 3px;
    box-sizing: border-box;
    background-color: white;
    line-height: 0;
    overflow: hidden;
}
