#gallery .page {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

#gallery .page > li {
    max-width: 200px;
    padding: 5px;
    box-sizing: border-box;
}

#gallery .page > li img {
    max-width: 100%;
    max-height: 100%;
}
