@import '_colors';
@import '_mixin';


$msg-height: 70px;


#gallery {
    position: relative;

    display: flex;

    width: 100%;

    justify-content: center;
    padding-top: 20px;

    ul.page {
        display: block;

        width: 90%;
        padding: 0;
    }

    ul.page > li {
        overflow: hidden;

        padding: 2px .25%;

        width: 24.5%;
    }

    figure {
        background-color: $black;
        border: 8px solid $white;
    }

    figure > img {
        display: block;

        background-color: $white;
        margin-bottom: -$msg-height;
    }

    figcaption {
        color: $white;
        font-family: courier;
        font-size: 18pt;
        font-style: italic;

        display: block;
        width: 100%;
        text-align: center;

        height: $msg-height;

        opacity: 0;
    }

    figure:hover figcaption {
        opacity: 1;
        position: relative;
        z-index: 2;
    }

    figure:hover img {
        filter: saturate(.5) brightness(.6);
    }

    ul.page > li.image-loading {
        @include hide;
    }
}
