@import '_colors';

#gallery {
    position: relative;
    display: flex;
    width: 100%;

    justify-content: center;

    ul.page {
        display: block;
        padding: 0;
        width: 90%;
        column-count: 4;
        column-gap: 0;

        > li {
            overflow: hidden;
            box-sizing: border-box;
            padding: 3px;
            background-color: $white;
            line-height: 0;
        }
    }
}
