@import '_colors';
@import '_metrics';

@font-face {
    font-family: AlegreyaSC;
    src: url('fonts/Alegreya_SC/AlegreyaSC-Regular.ttf');
}

nav {
    $border-width: 10px;
    $panel-height: 70px;

    position: fixed;
    z-index: 51;
    box-sizing: border-box;

    display: flex;

    font-family: AlegreyaSC;

    left: 0;
    right: 0;
    margin: auto;
    height: $panel-height;
    width: $content-width;

    padding: 10px 0 20px;
    margin-top: calc(#{$border-width - $panel-height});
    transition: margin-top .2s;
    transition-delay: .7s;

    background-color: $white;
    background-clip: padding-box;
    justify-content: space-around;

    border-image-source: repeating-linear-gradient(
        105deg,
        $red,
        $red 40px,
        transparent 40px,
        transparent 60px,
        $blue 60px,
        $blue 100px,
        transparent 100px,
        transparent 120px
    );
    border-image-slice: 20;
    border-width: 0;
    border-bottom-width: 10px;

    a.inactive {
        opacity: .3;
    }
}

nav:hover {
    margin-top: 0;
    transition-delay: 0s; 
}
