@import '_colors';

@font-face {
    font-family: AlegreyaSC;
    src: url(fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

nav {
    position: relative; // only with this z-index will work with fixed elements
    z-index: 51;

    display: flex;

    font-family: AlegreyaSC;

    width: 400px;
    padding: 10px 0;

    border-bottom: solid 3px $black;

    background-blend-mode: multiply;
    justify-content: space-around;

    &:before {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;

        height: 120px;

        content: '';

        background-image: linear-gradient(180deg, #{$white} 0%, rgba(255, 255, 255, 0) 85%);
    }

    a.inactive {
        opacity: .3;
    }
}
