// styles for ui components, split it if controls are overloaded for us
@import 'colors';

.searchable-dropdown {
    ul {
        background-color: $white;
    }

    li {
        display: block;
        cursor: pointer;
    }
}
