#worldmap {
    .map {
        height: 100vh;
    }

    .leaflet-control-attribution a {
        font-size: 11pt;
    }

    .leaflet-popup-content img {
        border: 9px solid rgba(170, 170, 170, .3);
        background-color: $white;
        background-clip: padding-box;
        width: 100%;
        box-sizing: border-box;
    }

    .leaflet-popup-content {
        margin: 0;
        width: 180px !important;
    }

    .leaflet-popup-content-wrapper {
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .leaflet-popup-tip {
        display: none;
        box-shadow: none;
        background-color: $white;
    }

    // .leaflet-marker-pane {
    //     z-index: 7;
    // }
    //
    // .leaflet-popup-pane {
    //     z-index: 6;
    // }

    // .card-view .leaflet-tile-loaded {
    //     filter: brightness(.7);
    // }
}
