{
    "root": true,
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single",
            "avoid-escape"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "id-length": [
            2,
            { "min": 1 }
        ]
    }
}
